.profile__info {
  display: grid;
  grid-template-areas:
    "profile__info_name profile__edit-button"
    "profile__info_about profile__info_about";
  grid-template-columns: 294px 24px;
  grid-row-gap: 16px;
  max-width: 336px;
  width: 100%;
  flex-wrap: wrap;
  place-items: baseline;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .profile__info {
    max-width: 290px;
    margin: 0 0 0 30px;
    grid-template-columns: 248px 24px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__info {
    max-width: 282px;
    margin: 26px 0 36px 0;
    justify-content: center;
    grid-template-columns: 189px 18px;
    grid-row-gap: 14px;
  }
}
