.overlay__button {
  background-image: url(../../../images/Close_button.svg);
  background-color: transparent;
  background-position: center;
  width: 40px;
  height: 40px;
  border: 0;
  top: -35px;
  right: -40px;
  padding: 0;
  position: absolute;
}

.overlay__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.overlay__button:focus {
  outline: none;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .overlay__button {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 10px;
  }
}
