.profile__edit {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-position: center;
  background-color: transparent;
  background-size: cover;
  border: 0;
  margin-left: 18px;
  padding: 0;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit:focus {
  outline: none;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
