.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: block;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .profile__avatar {
    width: 80px;
    height: 80px;
  }
}
