.element__button-like {
  background-image: url(../../../images/like.svg);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 20px;
  height: 18px;
  border: 0;
}

.element__button-like:hover {
  cursor: pointer;
  opacity: 0.6;
}

.element__button-like:active {
  background-image: url(../../../images/like_active.svg);
}

.element__button-like:focus {
  outline: none;
  background-image: url(../../../images/like_active.svg);
}
